<appSettings>
    <add key="grant_type" value="client_credentials" />
    <add key="client_id" value="iTwin-BackendService" />   <!-- change to actual client id in IIOT Services -->
    <add key="client_secret" value="JXdxU0qbMQxN9We8vNEmftw..." />  <!-- change to actual client secret from IIOT Services -->
    <add key="scope" value="graphQLInterface" />
    <add key="token_endpoint" value="https://my-desktop:9430/connect/token" />   <!-- change to actual hostname; check that tokenstring structure matches (zenon11 vs zenon12) -->
    <add key="frontend_endpoint" value="https://localhost:4200" />
    <add key="graphql_endpoint" value="https://localhost:50793/graphql" />
    <add key="graphql_db" value="project_DB" />   <!-- change to actual graphql database name -->
    <add key="zenon_project" value="ZENON11_DEMO" />   <!-- change to actual zenon project name -->
</appSettings>