<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.apache.tomcat.jdbc.pool" level="debug" />
    <logger name="springfox.documentation.spring.web.readers.operation.OperationModelsProvider" level="info" />
    <logger name="springfox.documentation.spring.web.readers.operation.OperationResponseClassReader" level="info" />
    <logger name="org.springframework.cloud.config.client" level="warn"/>
    <logger name="com.netflix.discovery.shared.resolver.aws" level="warn"/>
    <logger name="com.netflix.discovery.DiscoveryClient" level="warn"/>
    <logger name="org.springframework.context.annotation.ConfigurationClassPostProcessor" level="error"/>
    <logger name="com.netflix.config.sources.URLConfigurationSource" level="error"/>
</configuration>
